.home-page-container{
    /* background-image: radial-gradient( circle farthest-corner at 12% 17.8%,  rgba(252,219,119,1) 0%, rgba(248,182,86,1) 100.2% ); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 70px;
    text-align: center;
    position: relative;
    overflow-x: hidden;
}

.home-page-header{
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 150px;
    width: 100%;
}

.register-text{
    color: orangered;
}

.register-button{
    background-color: #0072EF;
    font-size: 1.2rem;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 25px;
}

.register-button a{
    color: white;
}

.center-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.home-page-sub-header{
    display: flex;
    width: auto;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-around;
    background: #fff;
}

.motto{
    font-size: 40px;
    color: #EF7D00;
}

.lpu-logo, .nss-logo{
    height: 80px;
}

.home-page-about-section{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 60vw;
    height: 50vh;
}

.mission{
    margin-top: 30px;
}

.mission-para{
    text-align: justify;
}

.events-section{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
}

.events-title{
    font-size: 25px;
    font-weight: 600;
}

.events-card-container{
    display: flex;
    flex-wrap: wrap;
    align-items: self-start;
}

.header {
    font-size: 2.5rem;
    color: #333;
}

.about-section-header {
    font-size: 2rem;
    color: #333;
}
